<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>Контакты</title>
    {{>cssjs}}
</head>
<body>
    {{>header}}
    
    <section class="py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-10">
                    <h1 class="py-5">Контакты</h1>
                    <p><b>Телефон</b><br>
                    8 (800) 222-47-80 8 (495) 18-18-200<br><br>
                    <b>Адрес</b><br>
                    Москва, ул. Долгоруковская д.33, строение 2<br>
                    (В связи с реконструкцией ст. м. Новослободская, удобнее всего добираться до магазина от ст. м. Менделеевская)<br>

                    <br><br>
                    ИП «Попов Игорь Федорович»<br>
                    ОГРНИП: 315237200000375<br>
                    Режим работы<br>
                    Пн. – Вс.: с 10:00 до 20:00</p>

                    <img class="rounded col-12" src="https://prospekt.media/wp-content/uploads/2017/11/1ba06c20-cc11-11e6-9e9e-c5cfb68199fe_result.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
   
    {{>footer}}
</body>
</html>