<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="На данной странице вы можете посмотреть информацию о оплате и доставке">
    <meta name="keywords" content="Оплата, доставка, спортивное, питание">
    <title>Оплата и доставка</title>
    {{>cssjs}}
</head>
<body>
    {{>header}}
    
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-9">
                    <h1 class="py-5">Доставка и оплата</h1>
                    <p><b>Доставка</b><br><br>
                        <b>Доставка курьером</b>
                        Магазин спортивного питания осуществляет курьерскую доставку заказов по Москве и Московской области.<br>
                        Стоимость курьерской доставки в пределах МКАД составляет 300 руб.<br> 
                        Стоимость доставки за МКАД: до 3 км - 400 рублей, от 3 до 10 км – 600 рублей,<br> 
                        от 10 до 17 км - 800 рублей, от 17 до 25 км - 900 рублей.</p>

                    <p>Доставка осуществляется в течение 2-х дней после подтверждения заказа менеджером по телефону.</p>

                <p>Режим работы курьерской доставки: Пн. – Вс. : с 10:00 до 22:00.</p>
                <p>Сроки доставки: в день оформления заказа или на следующий день после согласования по телефонному разговору с заказчиком.</p>
                <p><b>Самовывоз</b> <br>
                    Самостоятельно забрать свой заказ можно в магазине спортивного питания в течение 48 часов<br> 
                    в рабочее время по адресу:<br> 
                    г. Москва, станция м. Новослободская, ул. Долгоруковская, д. 33 стр. 2 (см. схему проезда).<br> 
                    После истечения 48 часов заказ аннулируется.</p>
                
                <p><b>Оплата заказа</b><br>
                В магазине спортивного питания при самовывозе и доставке курьером оплатить<br> 
                заказ можно только наличными деньгами.<br><br>

                После оформления, вы можете самостоятельно забрать заказ, произведя оплату при самовывозе,<br> 
                или к вам приедет наш курьер, который доставит заказ и примет платеж. 
                    </p>
                </div>
            </div>
        </div>
    </section>
    
    {{>footer}}
</body>
</html>